/* Nav section */
nav a.nav-link{
    margin: 8px;
    color: #afafaf;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    align-items: center;
    display: inline-flex;
}
nav a.nav-logo {
    color: cornflowerblue;
    text-decoration: none;
}

nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #2b2b2e;

}
nav h2 {
    justify-self: left;
    margin-right: auto;
    display: inline-block;
    padding-left: 10px;
    font-family: "Courier New", Courier, monospace;
    color: cornflowerblue;
}
nav a.nav-link:hover {
    color: white;
}
.nav-margin {
    background-color: #2b2b2e;
}



.search-field{
    border: none;
    border-radius: 100px;
    height: 35px;
    width: 190px;
    margin: 3px;
    /*background-color: tomato;*/
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px
    /*padding*/
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    /*padding: 5px;*/
    /*border: 1px solid black;*/
    border-radius: 100px;
    border: none;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 3px;
    background-color: white;
    margin: 0 auto;
}
.search-field:focus{
    /*border: none;*/
    outline: none;
}
.search-button{
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    /*background-color: dodgerblue;*/
    /*color: white;*/
    /*box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);*/
    font-size: 1em;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.29);
    margin: 3px;
}


/* Footer section */
.footer-margin {
    background-color: rgba(235, 241, 241, 0.55);;
}
footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    font-family: OCR A Std, monospace;
    padding: 10px;
    text-align: center;
    align-items: center;
}
footer table{
    text-align: left;
}
footer p {
    width: 100%;
    white-space: pre-line;
    margin: 8px;
}

footer a {
    color: #000000;
}

/* Schedule card section */
.schedule-card{
    /*rotate: -11deg;*/
    border-left: 10px solid gray;
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-color: aqua;*/
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    /*aspect-ratio: 7;*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    /*max-height: 120px;*/
    font-family: Arial, Helvetica, sans-serif;
    break-inside: avoid;
    /*page-break-inside: avoid;*/
}

.schedule-card[data-subject="mat-i"]{
    border-color: dodgerblue;
}

.schedule-card[data-subject="mat-ea"]{
    border-color: dodgerblue;
}

.schedule-card[data-subject="fiz"]{
    border-color: mediumpurple;
}

.schedule-card[data-subject="inf-i"]{
    border-color: lightblue;
}

.schedule-card[data-subject="inf-e"]{
    border-color: lightblue;
}

.schedule-card[data-subject="se"]{
    border-color: mediumseagreen;
}

.schedule-card[data-subject="dkf"], .schedule-group[data-subgroup="film"]{
    border-color: darkslategray;
}

.schedule-card[data-subject="fp"], .schedule-group[data-subgroup="film"]{
    border-color: darkslategray;
}

.schedule-card[data-subject="wop"] {
    border-color: lightpink;
}

.schedule-card[data-subject="jn"] {
    border-color: teal;
}

.schedule-card[data-subject="kscz"] {
    border-color: indianred;
}

.schedule-card[data-subject="gp"] {
    border-color: coral;
}

.schedule-card[data-subject="konw"] {
    border-color: goldenrod;
}

.schedule-card[data-subject="rart"] {
    border-color: orchid;
}

.schedule-card[data-subject="wok"] {
    border-color: aquamarine;
}

.schedule-card[data-subject="hs"] {
    border-color: royalblue;
}

.schedule-card[data-subject="hk"] {
    border-color: slateblue;
}

.schedule-group{
    /*background-color: aqua;*/
    width: fit-content;
    padding: 4px 10px;
    border-radius: 30px;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    /*text-decoration-color: aqua;*/
    margin: 2px 0;
    text-wrap: nowrap;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*.schedule-group-chosen-inz{*/
/*    border-color: turquoise;*/
/*}*/

.schedule-group[data-subgroup="inz"][data-is-chosen="true"]{
    border-color: turquoise;
}

.schedule-group[data-subgroup="arch"][data-is-chosen="true"]{
    border-color: tomato;
}

.schedule-group[data-subgroup="art"][data-is-chosen="true"]{
    border-color: mediumpurple;
}

.schedule-group[data-subgroup="group"][data-is-chosen="true"]{
    border-color: black;
}

.schedule-group[data-subgroup="ekon"][data-is-chosen="true"]{
    border-color: green;
}

/*.schedule-group-chosen-arch{*/
/*    border-color: tomato;*/
/*}*/

.schedule-group[data-subgroup="all"][data-is-chosen="true"]{
    border-radius: 30px;
    background:
            linear-gradient(white, white) padding-box,
            linear-gradient(90deg, rgba(87, 199, 133, 1) 0%, rgba(237, 221, 83, 1) 100%) border-box;
    border: 2px solid transparent;
}
.schedule-teacher{
    color: dimgray;
    float: right;
    text-align: end;
    text-wrap: wrap;
    max-width: 40%;
    white-space: pre-line;
}
p.schedule-text {
    margin: 8px 0;
}


.header-container{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
}

.header-group-container{
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-group-container a{
    margin: 4px 4px;
}

.time-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav button{
    float: right;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    margin: 12px;
    font-size: 3em;
    padding: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    /*display: inline-block;*/
/*    uncomment if broken */
}
header p {
    font-family: Arial, Helvetica, sans-serif;
}

p.header-text {
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    color: #000000;
}

.todo-container li{
    font-family: OCR A Std, monospace;
    list-style: armenian;
    font-size: 1.2em;
    margin-bottom: 10px;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
    flex: 1;
}

.schedule-weekday-block {
    padding: 10px;
}

.schedule-weekday-block h2{
    font-family: Monospace, monospace;
    margin-top: 8px;
    margin-bottom: 8px
}

.schedule-weekday-block p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    margin-top: 8px;
}

.schedule-weekday-block ul{
    margin-top: 8px;
    margin-bottom: 8px;
}

.schedule-weekday-block li{
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
}

article.changelog-article {
    padding: 10px;
}

article.changelog-article h2{
    font-family: Monospace, monospace;
    margin-top: 8px;
    margin-bottom: 8px
}

article.changelog-article p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    margin-top: 8px;
}

article.changelog-article ul{
    margin-top: 8px;
    margin-bottom: 8px;
}

article.changelog-article li{
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
}


.glass{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
}

.home-title{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*font-family: Monospace, monospace;*/
    font-weight: 400;
    font-size: 4em;
    /*margin-top: 8px;*/
    /*margin-bottom: 8px;*/
    white-space: pre-line;
    text-align: center;
    margin: 0;
}

/*.oleo-script-regular {*/
/*    font-family: "Oleo Script", system-ui;*/
/*    font-weight: 400;*/
/*    font-style: normal;            */
/*}*/

/*.oleo-script-bold {*/
/*    font-family: "Oleo Script", system-ui;*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/


.home-title-second{
    font-size: 6em;
    margin: -0.3em 0 -0.1em 0;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: dodgerblue;
    /*height: 100px;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*"Oleo Script", system-ui*/
}

.home-title-container{
    display: inline-block;
    /*background: tomato;*/
    padding: 20px 40px;
    /*color: white;*/
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*height: 100%;*/
    transform: translate(-50%, -50%)
    /*top: 100px;*/
}



h2.home-header{
    font-family: Monospace, monospace;
    margin-top: 24px;
    margin-bottom: 24px
}

.home-header-container{
    display: inline-block;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.underline-link{
    color: inherit;
}

.invisible-link{
    color: inherit;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.notification-message{
    background: gold;
    font-family: Monospace, monospace;
    margin: 10px;
    border-radius: 10px;
    display: flex
}

.notification-message-line{
    width:8px;
    display: inline-block;
    background: dimgray;
    margin: 8px 10px;
    border-radius: 10px;
}

.notification-message-text{
    margin: 16px 0 16px 0;
}

.notification-message-close{
    background: transparent;
    border: none;
    margin: 4px;
    vertical-align: top;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
}

.search-suggestions-wrap{
    /*background: white;*/
    margin: 10px auto;
    position: relative;
    /*background: dodgerblue;*/
    display: inline-block;
}

.search-suggestions-box{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 52px 0 8px 0;
    background-color: white;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.search-suggestions-box:empty{
    margin: 0;
    padding: 0;
    display: none;
    /*background-color: tomato;*/
}

.search-suggestions-element{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.search-suggestions-element:hover{
    background-color: rgba(211, 211, 211, 0.29);
}

.search-suggestions-element a{
    padding: 4px 16px 4px 16px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.statistics-table{
    border-spacing: 10px 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.statistics-progressbar-td{
    text-align: end;
}

.statistics-progressbar{
    display: inline-block;
    background: greenyellow;
    height: 20px;
    vertical-align: middle
}



@media screen and (max-width: 800px) {
    .time-table {
        display: block;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {

    nav{
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-box{
        display: flex;
        margin: 0 auto;
        justify-self: center;
    }

    .nav-link-box{
        align-items: center;
        display: flex;
        justify-content: center;
        /*display: block;*/
        /*background-color: tomato;*/
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: auto;
        max-width: unset;
        display: unset;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*flex-direction: column;*/
        /*align-items: flex-start;*/
        /* The width is 100%, when the viewport is 800px or smaller */
    }

    .search-suggestions-wrap{
        display: block;
    }

    /*nav .search-box{*/
    /*    margin: 10px auto;*/

    /*}*/


    nav a.nav-link {
        /*float: right;*/
        /*text-align: end;*/
        text-wrap: wrap;
        /*max-width: 40%;*/
        white-space: pre-line;
        /*align-content: center;*/
    }

    nav button{
        display: flex;
    }

    .nav-link-box{
        /*margin: 10px auto;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        /*display: inline-block;*/
        align-items: center;
        display: flex;
        justify-content: center;
        /*align-items: center;*/
    }

    .header-container{
        flex-direction: column;
    }

    .header-group-container{
        margin-left: unset;
    }
}