{% macro schedule_card(lesson, current_groups, style="") -%}
<div class="schedule-card" data-subject={{ lesson.short_subject_name }} style="{{ style }}">
    <strong>{{ lesson.subject_name }}</strong>
    <span style="color: dimgray; float: right"><time>{{ lesson.start_hour }}:{{ '{:02d}'.format(lesson.start_minute) }}</time> - <time>{{ lesson.end_hour }}:{{ '{:02d}'.format(lesson.end_minute) }}</time></span>
    <a class="schedule-classroom" href="/classroom/{{ lesson.classroom_short_name }}">{{ lesson.classroom_name }} </a>
    <a class="schedule-teacher" href="/teacher/{{ lesson.teacher_init }}">{{ lesson.teacher_name }}</a>
    {% if lesson.short_subject_name == "dkf" %}
    <a href="/groups" class="schedule-group" data-subgroup="all" data-is-chosen="true">
     wszystkie grupy
    </a>
    {% else %}
        {% if lesson.subgroups is not none %}
            {% for subgroup in lesson.subgroups %}
                <a href="/group/{{ subgroup.parent_group_name }}/{{ subgroup.subgroup_name }}" class="schedule-group" data-subgroup={{ subgroup.subgroup_name }} data-is-chosen={{ "true" if subgroup.subgroup_display_name in current_groups or current_groups == 'all' else "false" }}>
                 {{  subgroup.subgroup_display_name }}
                </a>
            {% endfor %}
        {% endif %}
        {% if lesson.groups is not none %}
            {% for group in lesson.groups %}
                <a href="/group/{{ group }}" class="schedule-group" data-subgroup="group" data-is-chosen= {{"true" if group in current_groups or current_groups == 'all' else "false"}}>
                 {{ group }}
                </a>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
{%- endmacro %}
