<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog</title>
    <script type="text/javascript" src="{{ url_for('static', path='index.js') }}" > </script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
{% import "navbar.html" as navbar %}
{{ navbar.navbar() }}

<main style="background-color: white;">
    <header style="margin: 10px">
        <h1>Changelog</h1>
        <p> Here you can find project development logs. For more info, check out <a href="/about"> about page </a></p>
    </header>
    <section>
        <article class="changelog-article">
            <h2>v0.1.4-beta - released 15/12/2025 </h2>
            <ul>
                <li> Added (manually) schedule for 3N - 5N groups</li>
                <li> Added classroom view (no search support yet)</li>
            </ul>
        </article>
        <article class="changelog-article">
            <h2> v0.1.3-beta - released 13/12/2025 </h2>
            <ul>
                <li> Added notification to group pages being not fully uploaded</li>
                <li> Added (manually) schedule for 2N groups</li>
            </ul>
        </article>
        <article class="changelog-article">
            <h2> v0.1.2-beta - released 12/12/2025 </h2>
            <ul>
                <li> Added home / index ("/") page</li>
            </ul>
        </article>
        <article class="changelog-article">
            <h2> v0.1.1-beta - released 11/12/2025 </h2>
            <ul>
                <li> Added simple search page + placeholder for most commonly used groups</li>
                <li> Added simple roadmap to changelog page</li>
            </ul>
        </article>
        <article class="changelog-article">
            <h2> v0.1.0-beta - released 09/12/2025 </h2>
            <p> first release into production, yay!</p>
            <ul>
                <li> Initial release</li>
                <li> Added pages: lesson, group/subgroup schedule, about, changelog, not found</li>
            </ul>
        </article>
    </section>

    <div class="todo-container">
        <h1> Roadmap / ToDo</h1>
        <ul>
            <li><del>Home page</del></li>
            <li>Language change</li>
            <li>Admin panel</li>
            <li>Dark theme</li>
            <li>Multiple semesters support</li>
            <li>Teachers view</li>
            <li><del>Classroom view</del></li>
            <li><i>Share your ideas!</i></li>
        </ul>
    </div>

{#        <article class="changelog-article">#}
{#            <h2> v0.0.1 beta - released 20/11/2025 </h2>#}
{#            <p> first release into production, yay!</p>#}
{#            <ul>#}
{#                <li> Initial release</li>#}
{#                <li> Added pages: home, schedule, about, changelog</li>#}
{#            </ul>#}
{##}
{#        </article>#}
{#        <article class="changelog-article">#}
{#            <h2> v0.0.1 beta - released 20/11/2025 </h2>#}
{#            <p> first release into production, yay!</p>#}
{#            <ul>#}
{#                <li> Initial release</li>#}
{#                <li> Added pages: home, schedule, about, changelog</li>#}
{#            </ul>#}
{##}
{#        </article>#}

</main>
{% import "footer.html" as footer %}
{{ footer.footer() }}
</body>
</html>