<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog</title>
    <script type="text/javascript" src="{{ url_for('static', path='index.js') }}" > </script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
{% import "navbar.html" as navbar %}
{{ navbar.navbar() }}

<main style="background-color: white;">
    <header style="margin: 10px">
        <h1>Changelog</h1>
        <p> Here you can find project development logs. For more info, check out <a href="/about"> about page </a></p>
    </header>
    <section>
        <article class="changelog-article">
            <h2> v0.0.1 beta - released 20/11/2025 </h2>
            <p> first release into production, yay!</p>
            <ul>
                <li> Initial release</li>
                <li> Added pages: home, schedule, about, changelog</li>
            </ul>
        </article>
        <article class="changelog-article">
            <h2> v0.0.1 beta - released 20/11/2025 </h2>
            <p> first release into production, yay!</p>
            <ul>
                <li> Initial release</li>
                <li> Added pages: home, schedule, about, changelog</li>
            </ul>

        </article>
        <article class="changelog-article">
            <h2> v0.0.1 beta - released 20/11/2025 </h2>
            <p> first release into production, yay!</p>
            <ul>
                <li> Initial release</li>
                <li> Added pages: home, schedule, about, changelog</li>
            </ul>

        </article>
    </section>
</main>
{% import "footer.html" as footer %}
{{ footer.footer() }}
</body>
</html>