<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script type="text/javascript" src="{{ url_for('static', path='index.js') }}" > </script>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
{% import "navbar.html" as navbar with context %}
{{ navbar.navbar() }}

<main style="background-color: white;">
    <header style="margin: 10px">
        <h1>{{ translate(request, "search-title")}} - "{{ query }}"</h1>
        <p> {{ translate(request, "search-text", '<a href="/groups">', '</a>')}}</p>
        <div class="">
            {% for group in search_groups %}
                <a href="{{ group.link }}" class="schedule-group" data-subgroup={{ group.data_subgroup }} data-is-chosen="true">
                 {{  group.name }}
                </a>
            {% endfor %}
        </div>
        <p class="header-text">{{ translate(request, "search-text-2")}}</p>
        <div>
            {% for group in common_items %}
                <a href="{{ group.link }}" class="schedule-group" data-subgroup={{ group.data_subgroup }} data-is-chosen="true">
                 {{  group.display_name }}
                </a>
            {% endfor %}
        </div>
    </header>
    <section>

    </section>
</main>
{% import "footer.html" as footer with context %}
{{ footer.footer() }}
</body>
</html>