name: Docker Image CI on Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build image
        run: docker build . -t ${{vars.DOCKER_NAME}}/${{vars.DOCKER_REPO}}:latest

      - name: push image
        run: |
          docker login -u ${{ vars.DOCKER_NAME }} -p ${{ secrets.DOCKER_TOKEN }}
          docker push chel0/mck-schedule:latest